<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JamItOut</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      </head>
  <body>
<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-white rounded">
		<div class="container ">
	<a class="navbar-brand" href="#"><img src="{% static 'MyPost.png' %}" style="width:120px;height:25px;margin-left:10px;" alt="JamItOut-logo"></a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item">
				  <a class="nav-text-dark nav-active" style="color:#5d147c;margin-left:20px;" href="/login/">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-text-dark nav-active" style="color:#0680cc;margin-left:20px;" href="/signup/">SignUp</a>
			</li>
		</ul>
	</div>
	</div>
</nav>
<!-- navbar End -->

<div class="container" >
  <div class="row">
      <div class="col-auto"  style="margin-top:150px;display: inline;" >
        <img  class="rounded" style="width:500px;height:300px; "src="{% static 'MyPost.jpg' %}" alt="">
      </div>
      <div class="col-auto" style="margin-top:150px;display: inline;" >
        <h2 class="text" style="margin:30px"> About</h2>
          <p>JamItOut is a place for you to get creative.This is the place for your creativity</p>
      </div>
      </div>
</div>
  </body>
</html>
